h1 {
    margin-left: 40vw;
}
main {
    display: flex;
    justify-content: space-around;
}

.container {
    width: 50vw;
    height: 50vh;
}
.imgbefor {
    width: 100%;
    height: 100%;
}
footer {
    width: 100vw;
    height: min-content;
    display:flex;
    justify-content:space-around;
    margin-top: 30px;
    
}